
body{
    color:white;
    background-color:#535353;

}


input, textarea{
    background-color:white;
    color:black;
}

input:disabled, textarea:disabled{
    background-color:grey;
    color:black;
}


.title-bar-light{
 color:#d8e6f3;
}



.title-bar-dark{
color:#060d13;

}

.title-note{
    font-size:.3em;
    color:#060d13;
}

.title-bar{
 background-color:#323232;
 width:110% !important;
 font-size:4em;
 font-family:Courier;
 font-weight:bold;
 display:block;
 margin-bottom:15px;
}



.title-bar:hover{
 background-color: #31B2FF !important;
}


.nav_icon{

    font-size:8em;
    aria-hidden="true";
    background-color:transparent !important;
}

.nav_title{
    font-size:2em;
    background-color:transparent !important;
}


.welcome_text{
    font-size:4em;
    margin-top:20px;
    font-family:courier;
}

@media (max-width: 700px) {
        big-button-group{
            margin-bottom:10px;
        }

        .nav_icon{

            font-size:3em;
            aria-hidden="true";
            background-color:transparent !important;
        }

        .nav_title{
            font-size:1em;
            background-color:transparent !important;
        }


        .welcome_text{
            font-size:1.5em;
            margin-top:2px;
        }


    .title-bar{

     font-size:2em;

    }

}



.info-text-title{
    font-size:1.2em;
}

.info-text{
    font-size:1.5em;

}


footer{

  font-family: "Ubuntu", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 5%;
  padding:1%;
  /*color:#bf3e11;/*dark*/
  color:#a6a6a6;/*orange*/
  background-color: #323232;
  /*border-top:solid 2px #bf3e11;*/

}

a{
    color:inherit !important;
}

a:hover{
    color: #31B2FF !important;
}



